# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# Django
*.log
db.sqlite3
media/
staticfiles/

# Environment variables
.env
.env.*

# IDE
.idea/
.vscode/

# Node
node_modules/
dist/
build/

# React/Vite
lifelink-frontend/.vite/
lifelink-frontend/dist/

# OS
.DS_Store
Thumbs.db